.flower-container {
    position: absolute;
    width: 100%;
    height: 100%;
  
    width: 70vw;
    height: 70vh;
    // width: 1000px;
    // height: 1000px;
    overflow: visible;
    right: 0;
    z-index: -1;
  }
  
  .flower {
    position: absolute;
    width: 13vw;
    // min-width: 200px;
    // right: 50px;
    right: 6vw;
    overflow: visible; // This ensures the SVG isn't clipped
    filter: brightness(0) invert(0.93);
    padding-bottom: 130px;
    user-select: none;
  }
  
  .butterfly-container {
    position: absolute;
    width: 100%;
    height: 100%;
  
    width: 100vw;
    height: 70vh;
    // width: 1000px;
    // height: 1000px;
    overflow: visible;
    right: 0;
    z-index: -1;
  }
  
  .butterfly {
    position: absolute;
    width: 3vw;
    height: 100px;
    min-width: 20px;
    // right: 50px;
    top: -20px;
    left: 130px;
    overflow: visible; // This ensures the SVG isn't clipped
    // filter: brightness(0) invert(0.93);
    padding-bottom: 130px;
    user-select: none;
    transform: scaleX(-1);
    rotate: 40deg;
  }
  
  .grape-container {
    position: absolute;
    width: 100%;
    height: 100%;
  
    // width: 70vw;
    // height: 70vh;
    // width: 1000px;
    // height: 1000px;
    overflow: visible;
    right: 0;
    z-index: -1;
  }
  
  .grape {
    // object-fit: fill;
    position: absolute;
    width: 110vw;
    height: 100vh;
    left: 50%;
    transform: translateX(-50%);
    top: -500px;
    overflow: visible;
    opacity: 0.3;
    user-select: none;
  }
  
  
  .barbed-container {
    position: absolute;
    width: 100%;
    height: 100%;
  
    // width: 70vw;
    // height: 70vh;
    // width: 1000px;
    // height: 1000px;
    overflow: visible;
    right: 0;
    z-index: -1;
  }
  
  .barbed {
    // object-fit: fill;
    position: absolute;
    width: 100vw;
    // width: 7000px;
    height: vh;
    left: 50%;
    transform: translateX(-50%);
    top: -250px;
    // rotate: 180deg;
    overflow: visible;
    opacity: 0.3;
    user-select: none;
  }
  
  .new-container {
    position: absolute;
    width: 100%;
    height: 100%;
  
    // width: 70vw;
    // height: 70vh;
    // width: 1000px;
    // height: 1000px;
    overflow: visible;
    right: 0;
    z-index: -1;
    // z-index: 5;
    user-select: none;
    pointer-events: none;
  }
  
  .new {
    // object-fit: fill;
    position: absolute;
    width: 100vw;
    // width: 7000px;
    // height: vh;
    left: 50%;
    transform: translateX(-50%);
    // top: -250px;
    // rotate: 180deg;
    overflow: visible;
    opacity: 0.3;
    user-select: none;
    pointer-events: none; 
  }
  
  .liberty-container {
    position: absolute;
    width: 100%;
    height: 100%;
  
    // width: 70vw;
    // height: 70vh;
    // width: 1000px;
    // height: 1000px;
    overflow: visible;
    right: 0;
    z-index: -1;
  }
  
  .liberty {
    // object-fit: fill;
    position: absolute;
    width: 100vw;
    // width: 7000px;
    height: vh;
    left: 50%;
    transform: translateX(-50%);
    top: 250px;
    // rotate: 180deg;
    overflow: visible;
    opacity: 0.3;
    user-select: none;
  }
  
  @media screen and (max-width: 768px) {
    .flower-container {
      display: none;
    }
  }